:root {
    --black: #000000;
    --white: #EEEEEE;
    --dark-red: #EC4E3D;
    --rose-red: #8E1616;
    --blue: #0078ab;
    --sky-blue:#68c5db; 
    --light-blue: #bfd7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--black);
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(../images/gradient.png);
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
  background-attachment: scroll;

}



/* navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 1.5%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,.4),transparent);
    transition: .5s;
}
.header:hover::before {
    left: 100%;
}
.header .logo{
    color: var(--white);
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    display: flex;
    align-items: center;
    padding: 0px;

}
.header .logo img{
    height: 42px;
    width: auto;
    display: block;

}
.navbar {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0px 50px;
}

.navbar a {
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover {
    color: var(--blue);
}
#menu-icon {
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
    display: none;
}
/* navbar done */

.horizontal-line{
    width: 35%;
    height: 6px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    /* margin-bottom: 90px; */
    background-color: var(--blue);
    color: var(--blue);
}
.full-line {
    width: 100%;
    height: 2px;
    background-color: var(--sky-blue);
    margin: 30px 0;
    border: none;
    justify-self: center;
}
/* contact page ko lagi */


.contact-page {
    width: 100%;
    padding: 5vw 2vw;
    font-family: 'Poppins', sans-serif;
    color: var(--light-blue);
    margin-top: 10px;
}


.contact-page-text {
        max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw 2vw;
    font-family: 'Poppins', sans-serif;
    color: var(--rose-red);
    text-align: center;
}




.contact-page-text h2 {
    text-align: center;
    font-weight: 700;
    color: var(--rose-red);
    font-size: 80px;
    margin-bottom: 10px;
}
.contact-page-text h2:hover{
    color: var(--light-blue);
}
.contact-page-text p {
    text-align: center;
    max-width: 650px;
    margin: 40px auto;
    font-size: 18px;
    color: var(--light-blue);
    padding: 0px 10px;
}














.form-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}


.form-contact-left {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.1);
}

.form-contact-left h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--rose-red);
}


.form-contact-email {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}

.gmail-icon {
    color: #db4437;
    
}
.gmail-icon:hover{
    color: var(--light-blue);
}
.form-contact-email-2 h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: var(--sky-blue);
}

.form-contact-email-2 a {
    color: var(--light-blue);
    text-decoration: none;
    font-size: 1rem;
}

.form-contact-email-2 a:hover {
    text-decoration: underline;
}


.member-social-media {
    margin: 15px 0 30px 0;
    display: flex;
    gap: 50px;
    
}

.member-social-media i {
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s;
    color: var(--sky-blue);
}

.member-social-media i:hover {
    color: var(--rose-red);
    transform: scale(1.1);
}

.form-contact-left h3{
    color: var(--rose-red);
}

.location-google-map {
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-top: 10px;
    overflow: hidden; /* prevents scrollbars */
}

.location-google-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}



.form-contact-right {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.1);
}

.form-contact-right h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--rose-red);
}


.name-for-form,
.email-for-form,
.subject-for-form,
.message-for-form {
    margin-bottom: 20px;
    width: 100%;
    /* color: var(--sky-blue); */
}

.form-contact-right label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: var(--sky-blue);
}

.form-contact-right input,
.form-contact-right textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    font-size: 1rem;
    outline: none;
    margin-bottom: 10px;
}

.form-contact-right input:focus,
.form-contact-right textarea:focus {
    border-color: #0ff;
    box-shadow: 0 0 10px rgba(0,255,255,0.3);
}

.submit-button-for-form button {
    width: 100%;
    padding: 14px;
    background: var(--blue);
    color: var(--white);
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button-for-form button:hover {
    background: var(--rose-red);
    color: #fff;
}


/* contact page sakiyo */


/* footer */

.footer{
    color: hsl(0, 0%, 75%);
    box-sizing: border-box;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr) minmax(250px, 1fr);
    gap: 15px;
    padding-bottom: 50px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 50px 20px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-logo img{
    width: 90px;
    margin-bottom: 15px;
    
}
.footer-logo .social {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 30px;   
}

.footer-logo .social a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 5px 10px 0; */
    background-color: var(--sky-blue);
    text-decoration: none;
    border-radius: 50%;
    color: var(--white);
    transition: background-color 0.3s;

}

.footer-logo .social a:hover{
    background-color: var(--blue);
    color: var(--white);
}

.footer-item h3{
    text-transform: capitalize;
    color: var(--rose-red);
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
    justify-self: center;

}

.footer-item ul{
    list-style: none;
    justify-self: center;

}
.footer-item{
    text-align: center;
}
.footer-item ul li+li{
    margin-top: 10px;
}
.footer-item ul a{
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: 0.5s;
    color: var(--light-blue);
}

.footer-item ul a:hover{
    color: var(--sky-blue);
}

.footer-contact{
justify-self: center;
}
.footer-contact .item+.item{
    margin-top: 15px;
    
}

.footer-contact .item span{
    color: var(--blue);
    text-transform: uppercase;
}
.footer-contact .item p{
    color: var(--light-blue);
    margin-top: 5px;
}
.footer-newsletter .form {
    margin-top: 20px;
}
.footer-newsletter p{
    color: var(--light-blue);
}
.footer-newsletter .form input{
    height: 50px;
    width: 100%;
    font: inherit;
    border: 1px solid var(--light-blue);
    background-color: transparent;
    outline: none;  
    color: var(--light-blue);
    padding: 0 20px;
    
}

.footer-newsletter .form .btn{
    margin-top: 10px;
    padding: 15px 30px;
    text-transform: capitalize;
    white-space: nowrap;
    line-height: 1;
    user-select: none;
    font-weight: 500;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    background-color: var(--rose-red);
    color: var(--white);
    border: 1px solid var(--rose-red);
}
.footer-newsletter .form .btn:hover{
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}
.footer-copyright{
    text-align: center;
    border-top: 1px solid var(--sky-blue);
    padding: 25px 0;
}
.footer-copyright p{
    margin-bottom: 15px;
}
/* footer FINISHED */

@media (max-width: 992px) { 
    
    .navbar {
        padding: 10px 15px;

    } 
    

    .footer-items{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .horizontal-line{
        margin-bottom: 0px;
    }
    .form-contact {
        grid-template-columns: 1fr;
    }

     .contact-page-text h2 {
        /* padding-top: 50px; */
        font-size: 7vw;
    }

    .contact-page-text p{
        margin-top: 30px;

    }



}

@media (max-width: 800px) {
  #menu-icon {
        display: block;
        padding-right: 30px;
    }
    .navbar {
        display: none;
    }
     .navbar {
        position: absolute;
        top: 90px;
        left: -50px;
        width: 100%;
        background: transparent;
        text-align: center;
        display: none;
        z-index: 9999;
    }
    .navbar.active {
        display: block;
        max-height: 300px;
    }

    .navbar a {
        display: block;
        margin: 1.25rem 0;
    }

    .nav-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 340px;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active {
        display: block;
    }

}

@media (max-width: 568px) {
   
     .footer-items {
        display: flex;
        flex-direction: column; 
        gap: 30px;
        padding-bottom: 30px;
        align-items: center;  
        margin: 20px 0px;
    }

    .footer-logo {
        width: 100%;
        max-width: 300px;       
        flex-direction: column;
        align-items: center;
        text-align: center;
        order: 1;               
    }

    .footer-logo img {
        width: 120px;           
        margin-bottom: 15px;
    }
    .footer-item:nth-of-type(2) {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .footer-contact {
        order: 3;
        width: 100%;
        text-align: center;
    }
 
    .footer-newsletter {
        order: 4;
        width: 100%;
        text-align: center;
    }

    .footer-logo .social a {
        width: 45px;
        height: 45px;
    }

    .footer-newsletter .form input,
    .footer-newsletter .form .btn {
        width: 100%;
    }

    .footer {
        padding: 50px 20px 0;
    }
.member-social-media {
    justify-content: space-around;
    
}
}






